{% extends 'base.html' %} {% block content %}
<h1>My Events</h1>
<h3>Upcoming Events</h3>

<div>
  {%for event in context%}
  <div id="result">
    <ul class="collection with-header" id="collection">
      <li class="collection-header" id="collection-item"> <h4>Event: {{ event.title }}</h4></li>
      <li class="collection-item" id="collection-item">Date: {{ event.pub }}</li>
      <li class="collection-item" id="collection-item"><img src={{ event.image }} alt=“Event Image”></li>
      <li class="collection-item" id="collection-item"><form action="/dashboard/{{ event.pk }}/delete" method="post">
        {% csrf_token %}
        <input type="hidden" name="DELETE" value="Delete Event" />
        <button class="waves-effect waves-light btn" type="submit">Delete Event</button>
      </form></li>
    </ul>
  </div>

  {% endfor %}
</div>
{% endblock %}
