{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EventWave</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <div id="bg">
    <img src="/static/assets/80s.jpg" alt="">
</div>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'home'%}" class="center brand-logo">EventWave</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'home' %}">Home</a></li>
           
            {% if user.is_authenticated %}
            
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            <li><a href="{% url 'dashboard' %}">Event Dashboard</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer>
      <div class="right">All Rights Reserved, &copy; 2022 EventWave &nbsp;</div>
    </footer>
  </body>
  </body>
</html>