{% extends 'base.html' %}
{% block content %}

 
  
<h1>Your Memories begin here...</h1>
<section class="container" id="container">
    <div class="row">
        <div  class="col s12 15">
            <h5 id="search">search near you</h5>
            <div class="col s12 15offset-l2">
                <form action="/results/" method="get">
                <div class="search">
                    <div class="col s3">
                        <input type="number" id="zip" name="zip">
                        <label for="number">zip code</label>
                    </div>
                    <div class="col s3">
                        <input type="number" id="radius" name="radius">
                        <label for="number">mile radius</label>
                    </div>
                    <div class="col s3">
                        <input type="date" id="start" name="start">
                        <label for="date">start date</label>
                    </div>
                    <div class="col s3">
                        <input type="date" id="end" name="end">
                        <label for="date">end date</label>
                    </div>
                    <div class="col s3">
                    <button name="name" value="value" type="submit" class="waves-effect waves-light btn">search</button>
                </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<body>
    <section class="promote">
        <div class="row">
              <div class="col s7 push-s5"><span class="flow-text"><a href="{% url 'detail' context.seekgeek_id %}"><h5>{{ context.title }}</h5>
                <img class="responsive-img" src={{ context.image }} alt="Event Image" width="390" height="250"></a></span></div>
              <div class="col s5 pull-s7"><span class="flow-text"><a href="{% url 'detail' 5653791 %}"><h6>Mavericks Vs Suns<br>Game 3</h6>
                <img class="responsive-img" src="/static/assets/mavericks-vs-suns.jpg" alt="" >
            </a></span></div>
            <div class="col s5 pull-s7"><span class="flow-text"><a href="{% url 'detail' 5405670 %}"><h6>Aladdin - New York </h6>
                <img class="responsive-img" src="/static/assets/aladdin.jpeg" alt="Event Image">
            </a></span></div>
            </div>
        </section>
</body>

{% endblock content %}