{% extends 'base.html' %} {% block content %}

<h1 class="about_title">Codechella</h1>
<br />
<br />

<h6 class="about_title">Shawna Claxton</h6>
<p class="about">
  Born and raised New Yorker who’s incredibly passionate about all things
  related to art, tech, and community.
</p>
<br />
<h6 class="about_title">Hazel Medina</h6>
<p class="about">
  I'm Hazel Medina and I like to focus on our APIs. I started programming with
  robots and moved to software during my Senior year of high school. As a high
  school graduate of 2021 I have a long way to go but I'm off to a great start.
</p>
<br />
<h6 class="about_title">Mark Frazier</h6>
<p class="about">
  I'm a creative software engineer with a passion for building tools and resources
  to empower artists. I spent my early career working in the film industry and
  now I'm excited to merge my tech skills with my creative background.
</p>
<br />
<h6 class="about_title">Miguel Delgado</h6>
<p class="about">
  I’m Miguel Delgado I grew up in a small farming town with not much to do so I
  dedicated a lot of my time and effort into work. Working in the medical field
  the last 5 years has really change my perspective in life with the things I
  experienced, showed me that I am capable of doing anything. Being apart of
  this cohort and team has really challenged me to get out of my comfort zone
  and learn new things.
</p>

{% endblock %}
